<div id="<%= dom_id bin %>">
  <p>
    <strong>Location:</strong>
    <%= bin.location %>
  </p>

  <p>
    <strong>Waste level:</strong>
    <%= bin.waste_level %>
  </p>

  <p>
    <strong>Emptied:</strong>
    <%= bin.emptied %>
  </p>

</div>
